global-exclude *.py[cod] __pycache__ .DS_Store *.bed
include version.py
include requirements.txt
include epitome/data/data/feature_name
include epitome/data/data/test.npz
include epitome/data/data/all.pos.bed.gz		
include epitome/data/data/train.npz
include epitome/data/data/valid.npz
